.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 34px;
}
@media (min-width: 768px) {
  .slider {
    margin: 0 -30px;
    background-image: linear-gradient(#ffffff 0, #ffffff 180px, #f2f2f2 180px, #f2f2f2 100%);
    overflow: hidden;
  }
}
@media (min-width: 1300px) {
  .slider {
    padding-bottom: 35px;
    margin: 0;
    background-image: linear-gradient(#ffffff 0, #ffffff 200px, #f2f2f2 200px, #f2f2f2 100%);
    overflow: visible;
  }
}

.slider__images {
  position: relative;
  margin: 0 -20px;
  width: 320px;
  height: 240px;
}
@media (min-width: 768px) {
  .slider__images {
    margin: 10px 0 0;
    width: 680px;
    height: 517px;
  }
}
@media (min-width: 1300px) {
  .slider__images {
    width: 650px;
  }
}

.slider__image {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  -webkit-transition: width 0.4s ease-out;
  transition: width 0.4s ease-out;
}
.slider__image--after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 0;
  right: 0;
}
@media (min-width: 768px) {
  .slider__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50%;
  }
  .slider__image--after {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-shadow: 400px 570px 0 400px #eaeaea;
            box-shadow: 400px 570px 0 400px #eaeaea;
    background-image: linear-gradient(#ffffff 0, #ffffff 170px, #eaeaea 170px, #eaeaea 100%);
  }
  .slider__image--after img {
    z-index: 1;
  }
}
@media (min-width: 1300px) {
  .slider__image--before {
    width: 750px;
    left: -40px;
    padding-right: 40px;
    overflow: visible;
  }
  .slider__image--after {
    -webkit-box-shadow: 400px 590px 0 400px #eaeaea;
            box-shadow: 400px 590px 0 400px #eaeaea;
    background-image: linear-gradient(#ffffff 0, #ffffff 190px, #eaeaea 190px, #eaeaea 100%);
  }
}
.slider__image img {
  max-width: inherit;
}
@media (min-width: 768px) {
  .slider__image img {
    width: 680px;
    height: 517px;
  }
}
@media (min-width: 1300px) {
  .slider__image img {
    width: 690px;
  }
}

.slider__before:checked ~ .slider__images .slider__image--before,
.slider__after:checked ~ .slider__images .slider__image--after {
  width: 100%;
}

.slider__before:checked ~ .slider__images .slider__image--after,
.slider__after:checked ~ .slider__images .slider__image--before {
  width: 0;
}

.slider__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  padding: 2px;
  z-index: 1;
}
@media (min-width: 768px) {
  .slider__actions {
    margin-top: 15px;
    margin-bottom: 30px;
  }
}
@media (min-width: 1300px) {
  .slider__actions {
    margin-top: 33px;
  }
}

.slider__btn {
  margin: 0 20px;
  line-height: 1.25;
  text-align: center;
  text-transform: uppercase;
  color: #111111;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@media (min-width: 768px) {
  .slider__btn {
    padding: 6px 0;
    font-size: 20px;
    line-height: 1;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
  }
  .slider__btn:hover {
    border-bottom-style: solid;
    color: #68b738;
  }
  .slider__btn:active {
    border-bottom: 0;
  }
}

.slider__scale {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4px 6px;
  width: 85px;
  height: 14px;
  border-radius: 6px;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (min-width: 768px) {
  .slider__scale {
    padding: 4px 0;
    width: 428px;
    height: 6px;
    background-color: #cdcdcd;
    border-color: #cdcdcd;
  }
}

.slider__grip {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: block;
  width: 35px;
  height: 6px;
  border-radius: 3px;
  background-color: #68b738;
  cursor: pointer;
  -webkit-transition: margin-left 0.35s ease-out;
  transition: margin-left 0.35s ease-out;
}
@media (min-width: 768px) {
  .slider__grip {
    margin-left: calc(50% - 17px);
    width: 34px;
    height: 34px;
    background-image: radial-gradient(#68b738 0, #68b738 4px, #ffffff 5px, #ffffff 100%);
    border: 1px solid #cdcdcd;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .slider__grip:hover {
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
  }
  .slider__grip:active {
    border: 2px solid #68b738;
    -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
            box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
  }
}

.slider__before:checked ~ .slider__actions .slider__grip {
  margin-left: 0;
}

.slider__after:checked ~ .slider__actions .slider__grip {
  margin-left: calc(100% - 34px);
}

.visually-hidden {
  display: none;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}