.contacts {
    position: relative;

    &__content {}

    &__text {
        position: absolute;
        top: 50%;
        left: 20%;
        transform: translate(-50%, -50%);
        z-index: 3;
        display: flex;
        justify-content: space-between;
        max-width: 570px;
        max-height: 201px;
        background: #fff;
        padding: 63px 89px 52px 76px;
    }

    &__item {
        font-size: 20px;
        line-height: 26px;
        text-transform: uppercase;
        color: #111111;
        &:first-child {
            margin: 0px 87px 0px 0px;
        }
    }

    &__street {
        font-size: 16px;
        line-height: 20px;
        margin: 0px 0px 33px 0px;
        color: #444444;
    }

    &__city {
        font-size: 16px;
        line-height: 20px;
        color: #444444;
    }

    &__map {
        iframe {
            width: 100%;
            height: 400px;
            z-index: 3;
        }

        width: 100%;
        position: relative;
    }

    &__icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
    }

    @media (max-width:1300px) {
        &__text {
            position: relative;
            top: 0;
            left: 0;
            transform: translate(0);
            max-width: 100%;
            padding: 66px 71px 55px 71px;
        }

        &__street {
            text-align: right;
        }

        &__city {
            text-align: right;
        }
        &__item {
            &:first-child {
                margin: 0px 0px 0px 0px;
            }
        }
    }

    @media (max-width:600px) {
        &__text {
            padding: 22px 0px 28px 0px;
        }

        &__street {
            text-align: left;
        }

        &__city {
            text-align: left;
        }
    }

    @media (max-width:500px) {
        &__item {
            font-size: 16px;
            line-height: 18px;
        }

        &__street {
            font-size: 14px;
            line-height: 20px;
            margin: 0px 0px 10px 0px;
        }

        &__city {
            font-size: 14px;
            line-height: 20px;
        }
    }
}
.contacts-silver {
    @media (max-width:1300px) {
        background: #f2f2f2;
    }
}
.contacts-text-silver {
    @media (max-width:1300px) {
        background: #f2f2f2;
    }
}